.line(data-line-id="#{line.id}").row
  .column.small-1
    .box(class="poet-color-#{line.poet.position % 5}")
  .column
    .line-text.editable(class="#{mine || line.poet.id===user.id ? 'mine' : ''}")
      div= line.text
