extends layout

block content
  h1 #{title} Registration
  form(method="post", action="/register")
    p
      div
        input(type="text", name="username", placeholder="User name")
      div
        input(type="text", name="email", placeholder="Email")
    p    
      div
        input(type="password", name="password", placeholder="Password")
      div
        input(type="password", name="confirm", placeholder="Confirm Password")
          
    input(type="submit", value="Sign Up")
