doctype html 
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .login-panel
      if user
        nav
          ul
            li #{user.username}
            li
              a(href="/poems") poems
            li
              a(href="/logout") logout
    block content
