extends layout

block content
  .column.medium-6
    h4 Welcome to #{title}
    form#login(action="/login", method="post")
      #errors
        include partials/errors
      p
        input(type="text", name="username", placeholder="Username", required)
        input(type="password", name="password", placeholder="Password")
        input(type="hidden", name="hashedPassword")
        input(type="submit" class="button" value="Login")
    a(href="/register") Sign up
    
  script(src="/js/vendor/jquery-1.10.2.min.js")
  script(src="/js/vendor/sha256.js")
  script(src="/js/partials.js")
  script(src="/js/login.js")
