extends layout

block content
  .column.medium-6
    h4 Welcome to #{title}
    form#login(action="/login", method="post")
      #errors
        include partials/errors
      p
        input(type="text", name="username", placeholder="Username", required, maxlength="50")
        input(type="password", name="password", placeholder="Password")
        input(type="submit" class="button" value="Login")
    div
      a(href="/register") Sign up
    div
      a(href="/reset") Reset password
    
