extends layout

block content
  .column.medium-4
    h4 Welcome to #{title}
    form#login(action="/login", method="post")
      #errors
      if errors
        each error in errors
          .error= error
      p
        input(type="text", name="username", placeholder="Username")
        input#password(type="password", placeholder="Password")
        input#hashedPassword(type="hidden", name="hashedPassword")
        input(type="submit" class="button" value="Login")
    a(href="/register") Sign up
  script(src="/js/vendor/jquery-1.10.2.min.js")
  script(src="/js/vendor/sha256.js")
  script(src="/js/login.js")
