extends ../layout

block content
  .column.medium-6
    h4 #{title} Password Reset
    form.password-form(method="post", action="/change")
      #errors
        include ../partials/errors
      if success
        div.callout.success= success
        a(href="/") Login
      else if expired
        div.callout.alert Password reset request has expired.
        a(href="/reset") Reset password
      else    
        p You can now choose a new password
        p
          div
            input(type="password", name="password", placeholder="Password", required)
          div
            input(type="password", name="confirm", placeholder="Confirm Password", required)
          input(type="hidden", name="token", value="#{token}")

        input.button(type="submit", value="Change Password")

  script(src="/js/register.js")
