extends ../layout

block content
  .column.medium-6
    h4 Reset Password
    p We will send you an email with a link to reset your password
    #errors
      include ../partials/errors
    if success
      div.callout.success= success
    else
      form#register(method="post", action="/reset")
        p
          div
            input(type="text", name="email", placeholder="Email", required, maxlength="100")
        input.button(type="submit", value="Send Email")
