body {
  padding: 50px 50px 5px 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

input {
  margin: 1px;
}

input[type=submit] {
  padding: 2px 10px;
}

li {
  list-style: none;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

h1 {
  margin-top: 30px;
  white-space: nowrap;
}

#poem-edit-header {
  position: fixed;
}

#poem-edit-header-panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 180px;
  background: #fff;
}

.newline-form {
  width: 100%;
  white-space: nowrap;
}

.newline-form input[type=text] {
  width: 70%;
  min-width: 120px;
}

.login-panel {
  position: fixed;
  z-index: 1;
}

#lines {
  margin-top: 130px;
  height: 100%;
}

.error {
	color: red;
}
