extends ../layout

block content
  .column
    .row.column
      h1
        span= poem.name
        .badge.speak
          i.fi-megaphone
    .row
      .column.small-12.medium-2
        include ../partials/poets
      .column
        .poem-lines
          each line in lines
            include ../partials/line
        .row.column
          form.newline-form(action="javascript:void(0)", data-poem-id="#{poem.id}", data-poet-id="#{user.id}")
            input.line-text(type="text", size=100)
            input.button(type="submit", value="Post")
  script(src="/socket.io/socket.io.js")
  script(src="/js/vendor/jquery-1.10.2.min.js")
  script(src="/js/partials.js")
  script(src="/js/poems/edit.js")
