extends ../layout

block content
  .column
    .row.column
      h1
        span= poem.name
        .badge.speak
          i.fi-volume
    .row
      .column.small-12.medium-2
        include ../partials/poets
      .column
        .poem-lines
          each line in lines
            include ../partials/line
        .row.column
          .newline-form(data-poem-id="#{poem.id}", data-poet-position="#{poetPosition}" data-poet-id="#{user.id}")
            input.new-line-text(type="text", size=100, maxlength="200")
            input.button.post-line(value="Post", disabled)
  script(src="/socket.io/socket.io.js")
  script $.fn.poshytip={defaults:null} //- fix for bug in x-editable: https://github.com/vitalets/x-editable/issues/496
  script(src="/js/vendor/jquery-editable-poshytip.js")
  script(src="/js/poems/edit.js")
